<ion-view >
<ion-nav-buttons >
 <img src="img/logo.png" style="height:40px" >
 <div style="width:250px" ><center style="color:#fff;margin-top:5px"> CAPRO Internation Prayer Focus </center></div>
 <!-- <i class="icon ion-share nav_icon1" style="color:#fff;margin-top:5px;float:right"  ng-click="next()"></i> -->
  </ion-nav-buttons>
  <ion-content>
  <p class="links">History</p>
  <div class="about">
  <!-- <h4 style="text-align:center">ABOUT</h4> -->

  What is today known as Calvary Ministries (CAPRO) came into being in 1975 (precisely April 25th). It started in Zaria, in northern Nigeria after some young Christians burdened to evangelize non-christians attempted a crusade in that ancient city <br/> <a href="http://capromissions.org/about/history/" target="_blank" style="text-decoration:none"> Read More...</a>
</div>
<p class="links"> Useful links</p>
<div class="list card">

        <a  ng-click="goUrl('http://capromissions.org/outreaches/')" class="item item-icon-left ">
          <i class="icon ion-android-globe theme_color"></i>
          Outreaches
        </a>

        <a  ng-click="goUrl('http://capromissions.org/trainings/')"   class="item item-icon-left ">
          <i class="icon ion-ios-telephone theme_color"></i>
          Trainings
        </a>

        <a ng-click="goUrl('http://capromissions.org/donations/')" class="item item-icon-left ">
          <i class="icon ion-heart theme_color"></i>
          Donations
        </a>

        <a  ng-click="goUrl('http://capromissions.org/category/blog/')" class="item item-icon-left ">
          <i class="icon ion-social-rss theme_color"></i>
          Blog
        </a>
        <a  ng-click="goUrl('http://capromissions.org/category/newsandreports/')" class="item item-icon-left ">
          <i class="icon ion-speakerphone theme_color"></i>
          News
        </a>
        <a  ng-click="goUrl('http://capromissions.org/resources-3/')" class="item item-icon-left ">
          <i class="icon ion-ios-browsers theme_color"></i>
          Resources
        </a>
        <a ng-click="goUrl('http://capromissions.org/contact/')" class="item item-icon-left ">
          <i class="icon ion-ios-email theme_color"></i>
          Contact
        </a>
        
        <a  ng-click="goUrl('http://capromissions.org/category/devotional/')" class="item item-icon-left ">
          <i class="icon ion-ios-calendar theme_color"></i>
          Devotional
        </a>
        <a ng-click="goUrl('http://capromissions.org/prayers-for-muslimsduring-ramadan/')" class="item item-icon-left ">
          <i class="icon ion-ios-pulse-strong theme_color"></i>
          Prayers
        </a>

</div>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
